.page-header
	.row	
		.span9{style: "margin-left: 40px"}
			%h4#yandex-link 
				Топ-новости с
				= link_to 'Яндекса', 'http://yandex.ru'
		.span1{style: "margin-left: 135px;"}
			%h5
				= link_to 'справка', '#', "data-reveal-id" => "myModal"
.span12
	.row#options
		.span4
			Показывать
			= select_tag "time_options", options_for_select({"все" => "all", "за час" => "hour", "за три часа" => "3hour", "за сутки" => "day", "за неделю" => "week", "за две недели" => "2week"}), options = {style: "width: 150px; margin-left: 10px;"}
		.span5
			Фильтр
			= text_field :text, :options, style: "width: 150px; margin-left: 10px;"
		.span1#check_options_render{style: "width: 45px;"}
			= render 'check_options'
		.span1{style: "margin-left: 0px;"}
			= link_to image_tag( 'load.png'), '#', { :class=>"thumbnail", style: 'width: 23px;', id: 'load_feeds'}
	%ul.span12#feeds-list
		= render 'feeds_list'
	.flickr_pagination.span12#pagination
		= render 'paginate'

.reveal-modal#myModal
	%h1 Что это и как этим пользоваться?
	%p 
		Это небольшое приложение для мониторинга топ5 новостей с главной страницы yandex.ru.
	%p
		Каждый час сюда загружаются новости с главной яндекса по всем блокам (Новости, в Москве, в Блогах) и отображаются общим списком.
		Вы можете сами в любой момент догрузить актуальные новости, нажав кнопку 
		= image_tag "load.png", style: "width: 15px;" 
		Новости старше двух недель удаляются автоматически.
	%p
		Работа со списком новостей:
	%p
		* Вы можете фильтровать новости по времени публикации, выбрав из списка вариант отображения (за последний час, три часа, неделю и т.д)
	%p
		* Можно фильтровать список в зависимости от содержимого заголовка следующим образом: через запятую в специальное поле вбиваете ключевые слова, по которым будет вестись поиск. Соответственно будут отображаться новости, содержащие все ключевые слова. Например, вы можете набрать "в Москве", для отображения новостей только из этого блока, а затем через запятую "Путин", для уточнения запроса. Таким образом будут отображаться новости только из блока "в Москве", содержащие в заголовке слово "Путин".
	%p
		* Новость можно пометить как избранную ("нужную"), кликнув на 
		= image_tag "unchecked.png", style: "width: 15px;" 
		напротив соответствующего заголовка. Чтобы просмотреть все "нужные" новости, нужно кликнуть на кнопку
		= image_tag "unchecked.png", style: "width: 15px;" 
		рядом с кнопкой загрузки.
	%p 
		Вот и все, все просто. Если возникнут вопросы или пожелания доработки, исправления ошибок и т.п., думаю, вы знаете к кому обратиться. Надеюсь, приложение будет для вас удобным в использовании, а самое главное, полезным. 
	%a.close-reveal-modal
		&#215;
