.page-header
	.row	
		.span4{style: "margin-left: 40px"}
			%h4#yandex-link 
				Топ-новости с
				= link_to 'Яндекса', 'http://yandex.ru'
.span12
	.row#options
		.span4
			Показывать
			= select_tag "time_options", options_for_select({"все" => "all", "за час" => "hour", "за три часа" => "3hour", "за сутки" => "day", "за неделю" => "week", "за две недели" => "2week"}), options = {style: "width: 150px; margin-left: 10px;"}
		.span5
			Фильтр
			= text_field :text, :options, style: "width: 150px; margin-left: 10px;"
		.span1#check_options_render{style: "width: 45px;"}
			= render 'check_options'
		.span1{style: "margin-left: 0px;"}
			= link_to image_tag( 'load.png'), '#', { :class=>"thumbnail", style: 'width: 23px;', id: 'load_feeds'}
	%ul.span12#feeds-list
		= render 'feeds_list'
	.flickr_pagination.span12#pagination
		= render 'paginate'
