!!! 5
%html
	%head
		%title Calendar
		= stylesheet_link_tag    "bootstrap", :media => "all"
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.container{style: "min-height: 100%;"}
			= yield
		%footer.footer.container
			%h6
				by
				= link_to 'G.Shumilkin', 'https://github.com/shumShum/yandextopfeed'
				, 2013